{% extends "/layout.twig" %}

{% block content %}
    <section class="groups__add">
        <div class="container">
            <div class="col-6 offset-3">
                <div class="row">
                    <h3 class="text-center mt-5">Добавить группу</h3>
                    {{ flasher.display }}
                    <form action="/groups/store" method="POST">
                        <div class="mb-3  pt-5 row">
                            <label for="group" class="col-sm-6 col-form-label">Название группы</label>
                            <div class="col-sm-10">
                                <input name="name" type="text" value="" id="group" class="form-control">
                            </div>
                        </div>
                        <button class="btn btn-primary" type="submit">Добавить</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}