<!doctype html>
<html lang="ru">
    {% include "head.twig" %}
<body>
    <!-- Header Content -->
    {% include "header.twig" %}
    <!-- Header Content  End -->

    <!-- Content -->
    {% block content  %}
    {% endblock %}
    <!-- Content End -->

    <!-- Footer -->
    {% include "footer.twig" %}
    <!-- Footer End -->
</body>
</html>