<!doctype html>
<html lang="ru">
    {% include "head.html.twig" %}
<body>
    <!-- Header Content -->
    {% include "header.html.twig" %}
    <!-- Header Content  End -->

    <!-- Content -->
    {% block content  %}
    {% endblock %}
    <!-- Content End -->

    <!-- Footer -->
    {% include "footer.html.twig" %}
    <!-- Footer End -->
</body>
</html>